// Colors /////
$theme-bg-color: black;
$theme-bg-color-alt: rgb(44, 43, 49);
$theme-color: white;
$theme-color-alt: rgb(142, 153, 179);

// Fonts //////
$theme-font: 'Roboto', sans-serif;

// Theme //////
html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: $theme-bg-color;
	color: $theme-color;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	letter-spacing: 1px;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, p, span, a {
	color: $theme-color;
	font-family: $theme-font;
}

a {
	color: $theme-color-alt;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
