// Colors /////
$theme-color-1: #daf5ff;
//$theme-color-2: #d9effa;
$theme-color-3: #dbecff;
$theme-color-4: #05639e;
$theme-color-5: #ff2fba;
$theme-shadow: 2px 2px 3px 0px rgba($color: #000000, $alpha: .2);

$theme-text-color: #414c52;

// Fonts //////
$theme-font: 'Exo 2', sans-serif;

// Media queries ////
$screen-mobile: 475px;
$screen-tablet: 640px;

// Theme //////
html {
	font-size: 20px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	background-color: $theme-color-1;
	color: $theme-text-color;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	letter-spacing: 1px;
	color: $theme-text-color;
	font-family: $theme-font;
}

body {
	margin: 0;
	overflow: hidden;
}

h2 {
	margin-bottom: 2rem;
}

a {
	color: $theme-color-5;
	text-decoration: none;
	position: relative;
	white-space: nowrap;

	&::after, &::before {
		display: block;
		content: " ";
		position: absolute;
		width: 50%;
		bottom: 0;
		height: 2px;
		background-color: $theme-color-5;
		transform: scaleX(0);
		transition: transform .15s;
	}

	&::before {
		right: 49%;
		transform-origin: right;
	}

	&::after {
		left: 49%;
		transform-origin: left;
	}

	&:hover {
		&::after, &::before {
			transform: scaleX(1);
		}
	}
}

a.no-underline {
	&::before, &::after {
		display: none;
	}
}

a.no-outline {
	outline: none;
	user-select: none;
}

.responsive-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10vh;

	& > .box {
		margin: 0;
		flex: 1;

		&:first-child {
			margin-right: 3vw;
		}
	}
}

@media only screen and (max-width: $screen-tablet) {
	.responsive-row {
		flex-direction: column;

		& > .box {
			margin: 0 0 2vh 0;
	
			&:first-child {
				margin-right: 0;
			}
		}
	}
}
